body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar .container-fluid {
    padding: 0px 30px 0px 50px;
  }
  .navbar-brand {
    color: white;
  }
  #navbarNav {
    display: flex;
    justify-content: end;
  }
  .navbar {
    background-color: #006004;
  }
  .nav-link {
    color: #f6f6f6;

    font-weight: bold;
    padding: 15px 35px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .nav-link:hover,
  .nav-link:active .show>.nav-link{
    color: #e6e9ec;
    background-color: #19a100; 
  }
 .activeLink{
  color: #e6e9ec;
    background-color: #19a100;
 }
 .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white;
    background-color: #19a100;
} 
  
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: center;
    margin-right: 5%;
}}
.navbar-toggler-icon{
    filter: invert();
}

.pgHeading{
    font-family: 'Times New Roman', serif; 
}

.activeSubLink{
  background-color: #dadbda; 
  color: #006004;
}

.buyBtn{
  background-color:#006004;
  font-weight: bold;
  color: white;
}
.buyBtn:hover{
    background-color:#038107;
    font-weight: bold;
    color: white;
}

.subNavLinks{
text-decoration: none;
color: #006004;
}
.subNavLinks:hover{
background-color: #dadbda; 
color: #006004;
}